body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

.top-bar {
	background: #2199e8;
}
.top-bar ul {
    background: none;
    color: white;
}
.top-bar ul a {
	color: whitesmoke;
}
.top-bar ul a:hover {
	color: black;
}

.callout.large.even {
	background: #5D737E;
	color: white;
}
.callout.large.odd {
	background: #221f1f;
	color: skyblue;
}
.callout {
    margin: 0;
 }

.callout.large {
    padding: 3rem 0rem;
}
@media screen and (min-width: 40em) {
	 .callout.large {
	    padding: 6rem 3rem;
	}
	.callout.large.dark-screen {
	    padding: 12rem 3rem;
	}
}

.large-icon {
	font-size: 4rem;
	padding: 0 1rem;
}

.banner h1 {
	font-size: 3rem;
}
@media screen and (min-width: 40em) {
	.banner h1 {
	    font-size: 4rem;
	}
}
@media screen and (min-width: 60em) {
	.banner h1 {
	    font-size: 5rem;
	}
	.callout.large.dark-screen h1 {
		font-size: 4rem;
	}
	.callout.large.dark-screen p.lead {
		font-size: 150%;
	}
}

@media screen and (min-width: 40em) {
	.banner .heading {
		margin-top: 100px;
	}
	.banner {
		height: 600px;
	}
}

.banner,
.footer {
	background: #fed431;
	color: black;
}

.banner .lead {
	font-family: 'Permanent Marker', cursive;
    color: #221f1f;
}
.vertical-logo {
	font-family: 'Permanent Marker', cursive;
	line-height: 0.9;
	letter-spacing: 5px;
}

.footer {
	padding: 1rem 0;
}
.footer ul.menu {
    
}
.footer ul.menu a {
	color: grey;
}
.footer ul.menu a:hover {
	color: black;
}

.copyright {
	font-size: 12px;
    color: darkslategrey;
}

.bbq-bg {
	background: #221f1f;
	/*background-image: url('../images/truck.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
}
.dark-screen {
	background: rgba(0,0,0,0.5);
	color: skyblue;
}

p.lead {
	max-width: 800px;
	margin: 0 auto;
}

.callout h1,
.banner h1 {
	font-family: 'Permanent Marker', cursive;
}